---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const looks = await getCollection('lookbook');
  return looks.map((look) => ({
    params: { id: look.id },
    props: { look },
  }));
}

const { look } = Astro.props;
const { Content } = await render(look);
---
<Layout title={look.data.title}>
  <h1>{look.data.title}</h1>
  <Image src={look.data.coverImage} alt={look.data.title} width={800} height={1000} />
  {look.data.gallery && look.data.gallery.map((img) => (
    <Image src={img} alt="" width={600} height={750} />
  ))}
  <Content />
</Layout>