---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---
<Layout title={post.data.title} showBack={true}>
  <h1>{post.data.title}</h1>
  <Image src={post.data.coverImage} alt={post.data.title} width={800} height={600} />
  <Content />
</Layout>