---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';

const posts = await getCollection('blog');
const sorted = posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<Layout title="Blog">
  <h1>Blog</h1>
  <div class="grid">
    {sorted.map((post) => (
      <a href={`/blog/${post.id}/`}>
        <Image src={post.data.coverImage} alt={post.data.title} width={400} height={300} />
        <h2>{post.data.title}</h2>
        {post.data.category && <span class="tag">{post.data.category}</span>}
      </a>
    ))}
  </div>
</Layout>